absl-py==0.4.0
astor==0.7.1
click==6.7
flask==1.0.2
gast==0.2.0
grpcio==1.14.1
gunicorn==19.9.0
h5py==2.8.0
itsdangerous==0.24
Jinja2==2.10
keras==2.2.2
keras-applications==1.0.4
keras-preprocessing==1.0.2
markdown==2.6.11
MarkupSafe==1.0
numpy==1.14.5
protobuf==3.6.1
pyyaml==3.13
scipy==1.1.0
setuptools==39.1.0
six==1.11.0
tensorboard==1.10.0
tensorflow==1.10.0
termcolor==1.1.0
Werkzeug==0.14.1
redis==4.0.9
flask-httpauth==3.2.4
